/*-----------------------SETTINGS-----------------*/
li {
   width:68px;
margin: 0 21px 0 0;

}

li a, a  {
    text-decoration: none;

}

li a , a{
    font-family: Rubik,sans-serif;
    color:black;
}
li{
    list-style: none;
}


li a:hover{
    color:white;
    text-decoration: underline;
}
.carte-footer a:hover{
    color:white;
    text-decoration: none;
}

h1,h2{
    font-family: Expletus sans, cursive ;
    margin:0;
    padding:0;
}
h1{
    font-size: 96px;
    justify-content: center;
}
h2{
    font-size: 64px;
}

.carte-footer span{
   color: #E64A19;
}



/*----------------------GENERIC--------------------*/
*, *::before ,*::after {
    box-sizing: border-box;
    max-width:1440px;

    margin: 0 auto;

}



body{
    max-width:1440px;
    height:1004px;
    font-family: Rubik, sans-serif;
font-style:normal;
font-size:18px;
font-weight:500;
    margin:0 auto;
}


/*----------------------ELEMENTS--------------------*/
ul{
display: flex;
    justify-content: flex-end;
    align-items: center;
    height:61px;
    background-color: #FF9800;
    padding-right:163px;
}



header h2{

    width:360px;
    height:200px;
 color: white;
}




.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC107;
    min-height:300px;
}
.hero h1 {
padding: 88px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*----------------------COMPONENTS------------------*/


 .information .conteneur {
     display: flex;
     justify-content: space-between;
     margin-top: 32px;
}

  .information .content  {
    width:360px;
      height:324px;
}
  .carte{
     width:360px;
      height:524px;
      display: flex;
      flex-direction:column;
    background-color:#f0f0f0;
 }

 .carte header{
  padding: 60px 0;
     text-align: center;

 }

.carte:nth-child(1) header{
background-color: #E34E26;
 width:360px;
 height:200px;
}
.carte:nth-child(2) header{
    background-color:#0270BB;
    width:360px;
    height:200px;
}
.carte:nth-child(3) header{
    background-color:#F8DC3D;
    width:360px;
    height:200px;
}
.conteneur .content{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:20px;
    flex-grow: 1;
}
.carte-footer a {
width:95px;
height:35px;
    padding: 10px  20px;
    border-radius:5px;
}
.conteneur .carte-footer .bouton{

background-color:#FFC107;
    border:1px solid  #E64A19 ;
}
.conteneur .carte-footer .bouton:hover{
    background-color:#E64A19;
    border:1px solid  #E64A19;
}
.carte-footer span
{
margin-left: 100px;
}
.footer-principal{
 font-size:14px;
color:white;
   width: 1440px;
   height:60px;
    background-color:#E64A19;
line-height:60px;
margin-top:32px;
}
.footer-principal h3{
    margin-left: 170px;
}
/*----------------------UTILITIES--------------------*/